<div layout="column" layout-align=" space-around center"  ng-controller="ProductsController as vm">

  <md-content class="container" layout="row" layout-xs="column">
    <div class="product-image-container" flex="40">
      <img src="{{vm.product.picture}}" alt="">
    </div>
    <div class="product-info-container" flex="50">
      <h1>{{vm.product.title}}</h1>
      <p class="product__description">{{ vm.product.description }}</p>
      <p class="product__price">${{ vm.product.price }}</p>
      <div class="totals" layout="row" layout-align="end center">
        <md-input-container  class="md-block product__total-items" flex="20" flex-xs="100">
          <label for="itemsToCart">items</label>
          <input id="itemsToCart" ng-model="vm.itemsToCart" type="number" min="1" value="1" placeholder="1">
        </md-input-container>
        <p class="product__total-price"  flex="50" flex-xs="100">${{ vm.product.price * vm.itemsToCart}}</p>
      </div>

      <md-button class="md-raised md-primary cart-btn">Add to cart</md-button>
    </div>

  </md-content>
</div>






