<div layout="column" layout-margin>

  <md-content>
    <header>
      <acme-navbar creation-date="main.creationDate"></acme-navbar>
    </header>
    <div layout-xs="column" layout-gt-xs="row">
      <md-input-container class="md-block" flex="20" flex-xs="100">
        <label>Sort by</label>
        <md-select ng-model="sort">
          <md-option value="title">
            By title
          </md-option>
          <md-option value="price">
            By price
          </md-option>
        </md-select>
      </md-input-container>
      <md-input-container class="md-block" flex="20" flex-xs="100">
        <input ng-model="search" type="text" placeholder="search">
        <md-icon style="display:inline-block;">search</md-icon>
      </md-input-container>
      <!--<md-input-container class="md-block" flex="20" flex-xs="100">-->
      <!--<label for="itemsPerPage">Items per Page</label>-->
      <!--<input id="itemsPerPage" ng-model="main.itemsPerPage" type="number" min="1" max={{main.products.length}}>-->
      <!--</md-input-container>-->
      <!--<md-input-container class="md-block" flex="20" flex-xs="100">-->
      <!--<label for="currentPage">Go to Page</label>-->
      <!--<input id="currentPage" ng-model="main.currentPage" type="number" min="1" max={{main.getMaxPageCount()}}>-->
      <!--</md-input-container>-->
    </div>
            <div class="products-list" layout-align="center">
              <md-card ng-repeat="product in main.products | filter:search |
              limitTo: main.itemsPerPage : (pager.currentPage - 1) * main.itemsPerPage  |
      orderBy:sort" class="product" flex="25" flex-xs="100">
                <md-card-content ui-sref='product({id: product.id})'>
                  <div class="product__picture">
                    <img class="pull-right" ng-src="{{product.picture}}" alt="{{product.title}}">
                  </div>
                  <h3 class="md-title product__title">{{product.title}}</h3>
                  <rating rating={{product.rating}}></rating>
                  <p class="product__description">{{product.description}}</p>
                  <p class="product__price">{{product.price | currency}}</p>
                </md-card-content>

                <md-button class="btn quick-shop-btn" ng-click="main.quickShop(event, product)">Quick shop</md-button>
              </md-card>
            </div>


    <md-input-container class="md-block" flex="20" flex-xs="100">
      <label for="itemsPerPage">Items per Page</label>
      <input id="itemsPerPage" ng-model="main.itemsPerPage" type="number" min="1" max={{main.products.length}}>
      <button ng-click="pager.currentPage=pager.currentPage + 1">next</button>
    </md-input-container>
    <pagination pagescount="main.getMaxPageCount()" itemscount="main.products.length" ></pagination>
  </md-content>
</div>
