<div layout="column" layout-margin>

  <md-content>
    <header>
      <!--<acme-navbar creation-date="main.creationDate"></acme-navbar>-->
    </header>

    <!--<section class="jumbotron">-->
      <!--<h1>'Allo, 'Allo!</h1>-->
      <!--<p class="lead">-->
        <!--<img src="assets/images/yeoman.png" alt="I'm Yeoman"><br>-->
        <!--Always a pleasure scaffolding your apps.-->
      <!--</p>-->
      <!--<md-button class="md-raised animated infinite" ng-class="main.classAnimation" ng-click="main.showToastr()">Splendid Toastr</md-button>-->
      <!--<p>-->
        <!--With ♥ thanks to the contributions of<acme-malarkey extra-values="['Yeoman', 'Gulp', 'Angular']"></acme-malarkey>-->
      <!--</p>-->
    <!--</section>-->
    <div  layout-xs="column" layout-gt-xs="row">
      <md-input-container class="md-block" flex="20"flex-xs="100">
        <label>Sort by</label>
        <md-select ng-model="sort">
          <md-option  value="title">
            By title
          </md-option>
          <md-option value="price">
            By price
          </md-option>
        </md-select>
      </md-input-container>
      <md-input-container  class="md-block" flex="20" flex-xs="100">
        <input ng-model="search" type="text" placeholder="search" >
        <md-icon  style="display:inline-block;">search</md-icon>
      </md-input-container>
      <md-input-container  class="md-block" flex="20" flex-xs="100">
        <label for="itemsPerPage">Items per Page</label>
        <input id="itemsPerPage" ng-model="main.itemsPerPage" type="number" min="1" max={{main.products.length}}>
      </md-input-container>
      <md-input-container  class="md-block" flex="20" flex-xs="100">
        <label for="currentPage">Go to Page</label>
        <input id="currentPage" ng-model="main.currentPage" type="number" min="1" max={{main.getMaxPageCount()}}>
      </md-input-container>
    </div>

    <div class="products-list" layout-align="center">
      <md-card ng-repeat="product in main.products | filter:search | limitTo: main.itemsPerPage : (main.currentPage - 1) * main.itemsPerPage  |
      orderBy:sort"  class="product" flex="25" flex-xs="100" >
        <md-card-content ui-sref='product({id: product.id})' >
          <div class="product__picture">
            <img class="pull-right" ng-src="{{ product.picture }}" alt="{{ product.title }}">
          </div>
          <h3 class="md-title product__title">{{ product.title }}</h3>
          <p class="product__description">{{ product.description }}</p>
          <p class="product__price">${{ product.price }}</p>
        </md-card-content>
        <div class="md-action-buttons product__buttons-group" layout="row"  layout-align="center center">
          <md-button class="product__button">
            <md-tooltip>Share</md-tooltip>
            <i class="material-icons">share</i>
          </md-button>
          <md-button class="product__button">
            <md-tooltip>Add to compare</md-tooltip>
            <i class="material-icons">compare_arrows</i>
          </md-button>
          <md-button class="product__button">
            <md-tooltip>Add to wishlist</md-tooltip>
            <i class="material-icons">favorite</i>
          </md-button>
          <md-button class="product__button" ng-click="main.showDialog(event, product.id)">
            <md-tooltip>Add to cart</md-tooltip>
            <i class="material-icons">add_shopping_cart</i>
          </md-button>
        </div>
      </md-card>
    </div>
  </md-content>
</div>
