<div class="rating" layout="row" layout-align="center end">
  <div class="rating-stars">
    <svg width="102" height="20">
      <defs>
        <path id="star" d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
      </defs>
      <symbol id="s-stars">
        <g fill="#e8e8e8">
          <use xlink:href="#star" x="0" y="0"/>
          <use xlink:href="#star" x="20" y="0"/>
          <use xlink:href="#star" x="40" y="0"/>
          <use xlink:href="#star" x="60" y="0"/>
          <use xlink:href="#star" x="80" y="0"/>
        </g>
      </symbol>
      <symbol id="s-scale-m">
        <rect fill="#a40828"  x="0" y="0" width="102" height="20" />
      </symbol>
      <mask id="mask-stars">
        <use xlink:href="#s-stars" />
      </mask>
      <g>
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#s-stars"></use>
      </g>
      <g mask="url(#mask-stars)">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#s-scale-m" x="2" width="{{vm.fillWidth}}"></use>
      </g>
    </svg>
  </div>
  <div class="rating-value">{{vm.rating}}</div>
</div>


